<html>
    <head>
        <link href="/static/styles.css" rel="stylesheet">

        <link href="/static/favicon.ico" rel="icon">
        
        <title>CS136 Game</title>

    </head>
    <body>
        <h1 style="text-align:center">{{ title }}</h1>
        <h2 style="text-align:center">{{ position }}</h2>

        <h3 style="text-align:center">Your hand:</h3>
        <form action="/" method="post" id="sliderForm">
            <div class="slidecontainer" style="width: 500px; margin:0 auto;">        
              <h1 style="text-align:center">{{ card1 }}</h1>
              <h1 style="text-align:center">{{ card2 }}</h1>
            </div>
            <div class="container" style = "margin-top: 10px">
                <div class="center">
                    <button class="btn btn-primary" type="submit">Submit</button>
                </div>
            </div>
        </form>

        <footer style="text-align:center; margin-top: 10px; margin-bottom: 10px">
            Made by Nicholas Lopez and Elliot Chin</footer>
    </body>
</html>