<html>
    <head>
        <link href="/static/styles.css" rel="stylesheet">

        <link href="/static/favicon.ico" rel="icon">
        
        <title>CS136 Game</title>

    </head>
    <body>
        <h1 style="text-align:center">Choose Your Skill Level</h1>
        
        <!-- JavaScript function to handle redirection -->
        <script>
            function redirectTo(skillLevel) {
                window.location.href = '/' + skillLevel;
            }
        </script>
    
        <div class="container" style="margin-top: 10px">
            <div class="center">
                <!-- Buttons with onclick attribute to trigger the redirection function -->
                <button class="btn btn-primary" onclick="redirectTo('beginner')">Beginner</button>
                <button class="btn btn-primary" onclick="redirectTo('intermediate')">Intermediate</button>
                <button class="btn btn-primary" onclick="redirectTo('advanced')">Advanced</button>
            </div>
        </div>

        <footer style="text-align:center; margin-top: 10px; margin-bottom: 10px">
            Made by Nicholas Lopez and Elliot Chin</footer>
    </body>
</html>