<html>
    <head>
        <link href="/static/styles.css" rel="stylesheet">

        <link href="/static/favicon.ico" rel="icon">
        
        <title>CS136 Game</title>

        <style>

            .hidden-card {
                display: none;
            }

            .slidecontainer {
            display: flex;
            justify-content: center;
            align-items: center;
            }

            .slidecontainer img {
            width: 20%;
            height: auto;
            margin: 0;
            }
        </style>

    </head>
    <body>
        <h1 style="text-align:center">{{ title }}</h1>
        <h2 style="text-align:center">Position: {{ position }}</h2>
        <h3 style="text-align:center">Your hand:</h3>
        
        <form action="/intermediate" method="post" id="actionForm">
            <!-- Hidden input field for position -->
            <input type="hidden" name="position" value="{{ position }}">
            
            <div class="slidecontainer" style="width: 500px; margin:0 auto;">        
                <img  id="card1" src="{{ url_for('static', filename='images/' ~ card1.upper() ~ '.jpg') }}" alt="{{ card1 }}">
                <img id="card2" src="{{ url_for('static', filename='images/' ~ card2.upper() ~ '.jpg') }}" alt="{{ card2 }}">
            </div>
            
            <div class="container" style="margin-top: 10px">
                <div class="center">
                    <!-- Hidden input fields for card1 and card2 -->
                    <input type="hidden" name="card1" value="{{ card1 }}">
                    <input type="hidden" name="card2" value="{{ card2 }}">
                    
                    <input class="btn btn-primary" type="submit" name="Aggress" value="{{ aggress }}">
                    <input class="btn btn-primary" type="submit" name="Fold" value="Fold">
                </div>
            </div>
        </form>

        <footer style="text-align:center; margin-top: 10px; margin-bottom: 10px">
            Made by Nicholas Lopez and Elliot Chin</footer>
    </body>
</html>