<html>
    <head>
        <link href="/static/styles.css" rel="stylesheet">

        <link href="/static/favicon.ico" rel="icon">
        
        <title>CS136 Game</title>

        <style>

            .hidden-card {
                display: none;
            }

            .slidecontainer {
            display: flex;
            justify-content: center;
            align-items: center;
            }

            .slidecontainer img {
            width: 20%;
            height: auto;
            margin: 0;
            }
        </style>

    </head>
    <body>
        <h1 style="text-align:center">{{ title }}</h1>
        <h2 style="text-align:center">Position: {{ position }}</h2>
        <h3 style="text-align:center">Your hand:</h3>
        
        {% block main %}{% endblock %}

        <footer style="text-align:center; margin-top: 10px; margin-bottom: 10px">
            Made by Nicholas Lopez and Elliot Chin</footer>
    </body>
</html>